:root {
  --c1: #dfe1fd;
  --c2: rgb(205, 208, 244);
  --c3: rgb(34, 34, 60);
  --c4: rgb(34, 34, 60);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c1: rgb(43, 45, 73);
    --c2: rgb(34, 34, 60);
    --c3: #dfe1fd;
    --c4: rgb(34, 34, 60);
  }
}

body {
  overflow: hidden;
  background-color: var(--c2);
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}

/* created a black background too let the colours pop */
.stageContainer {
  border-radius: 20px;
  flex: 1;
  background-color: var(--c1);
  width: calc(100vw - 80px);
  align-self: center;
  overflow: hidden;
}

/* #canvas-stage {
  position: fixed;
  top: 0;
  right: 0;
} */

#canvas-stage {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transition:
    transform 1.5s ease-in-out,
    bottom 1.5s ease-in-out;
  transform: translateX(-50%) translateY(100%);
}

/* visible state */
#canvas-stage.show {
  transform: translateX(-50%) translateY(0);
  bottom: 0px;
}
#red-circle-button {
  background-color: red;
  color: white;
}

#green-circle-button {
  background-color: #00ff00;
  color: black;
}

#blue-circle-button {
  background-color: blue;
  color: white;
}

#show-artwork {
  position: fixed;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  border: none;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: var(--c4);
  padding: 10px 20px;
  padding-top: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 1.5s ease-in-out;
}

#show-artwork.hide {
  transform: translateX(-50%) translateY(50px);
  pointer-events: none; /* Disables all mouse/touch events */
  cursor: default;
}
